{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf100
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 SMTP_HOST=smtp.gmail.com\
SMTP_PORT=587\
SMTP_USER=flippenllc@gmail.com\
SMTP_PASS=H@ppyP30pl308!\
OWNER_EMAIL=flippenllc@gmail.com\
FROM_EMAIL=orders@themarlowe.co   # or same as SMTP_USER\
PORT=3000\
CONTRACTOR_ACCESS_CODE=marlowecontract
DATABASE_URL=postgresql://marlowecollectioninventory_user:M4umMgULQW3Q0bK6omMbN3kh4y0luP4Z@dpg-d38s6pnfte5s73cc2pp0-a/marlowecollectioninventory
}
